<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<script type='module' src='/files/static/codemirror.js'></script>
<title>Create file</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  &bull;
  <a href='{{ $.ContentSite }}' class='ma2 white'>{{ if hasPrefix $.ContentSite "https://" }}{{ trimPrefix $.ContentSite "https://" }}{{ else }}{{ trimPrefix $.ContentSite "http://" }}{{ end }}</a>
  <span class='flex-grow-1'></span>
  {{- if $.Username.Valid }}
  <a href='' class='ma2'>{{ if $.Username.String }}@{{ $.Username.String }}{{ else }}user{{ end }}</a>
  <a href='/users/logout/' class='ma2'>logout</a>
  {{- end }}
</nav>
{{- if eq $.Error "InvalidParent" }}
<div class='mv5 w-80 w-70-m w-60-l center'>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- end }}
  <div class='mv3 b tc'>Can't create a file here.</div>
</div>
{{- else }}
<form method='post' enctype='multipart/form-data' action='/{{ join "files" $.SitePrefix "createfile" }}/' class='mv2'>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- else }}
  <div><a href='/{{ join "files" $.SitePrefix $.Parent }}/'>&larr; back</a></div>
  {{- end }}
  <div class='flex mv3'>
    <h1 class='f3 b mv0'>
      {{- if eq (head $.Parent) "notes" }}
      Create a new note in <a href='/{{ join "files" $.SitePrefix $.Parent }}/'>{{ base $.Parent }}/</a>
      {{- else if eq (head $.Parent) "pages" }}
      Create a new page in <a href='/{{ join "files" $.SitePrefix $.Parent }}/'>{{ base $.Parent }}/</a>
      {{- else if eq (head $.Parent) "posts" }}
        Create a new post in <a href='/{{ join "files" $.SitePrefix $.Parent }}/'>{{ if eq $.Parent "posts" }}posts/{{ else }}{{ base $.Parent }}/{{ end }}</a>
      {{- else if eq (head $.Parent) "output" }}
        {{- if eq (head (tail $.Parent)) "themes" }}
        Create a new file in <a href='/{{ join "files" $.SitePrefix $.Parent }}/'>{{ base $.Parent }}/</a>
        {{- else }}
        Create a new file for <a href='/{{ join "files" $.SitePrefix "pages" (tail $.Parent) }}.html'>{{ base $.Parent }}.html</a>
        {{- end }}
      {{- else }}
      Create a new file in <a href='/{{ join "files" $.SitePrefix $.Parent }}/'>{{ base $.Parent }}/</a>
      {{- end }}
    </h1>
    <div class='flex-grow-1'></div>
    <div class='flex items-end'>
      <button type='button' class='button ba br2 mh2 pointer'>
        <label for='wordwrap:0' class='pointer flex items-center'>
          <input id='wordwrap:0' type='checkbox' class='pointer'>
          <span class='mh1'>word wrap</span>
        </label>
      </button>
      <button type='submit' class='button ba ph2 br2'>
        {{- if eq (head $.Parent) "notes" }}
        create note
        {{- else if eq (head $.Parent) "pages" }}
        create page
        {{- else if eq (head $.Parent) "posts" }}
        create post
        {{- else }}
        create file
        {{- end }}
      </button>
    </div>
  </div>
  <input type='hidden' name='parent' value='{{ $.Parent }}'>
  <div class='mv3'>
    <div><label for='name' class='b'>Name{{ if eq (head $.Parent) "notes" "posts" }} (optional){{ end }}:</label></div>
    <div class='flex'>
      <input id='name' name='name' value='{{ $.Name }}' class='pv1 ph2 br2 ba flex-grow-1{{ if index $.FormErrors "name" }} b--invalid-red{{ end }}' autocomplete='on'{{ if not (eq (head $.Parent) "notes" "posts") }} autofocus{{ end }}>
      <select name='ext' class='br2 ml2{{ if index $.FormErrors "name" }} b--invalid-red{{ end }}'>
        {{- if eq (head $.Parent) "notes" }}
        <option{{ if eq $.Ext ".html" }} selected{{ end }}>.html</option>
        <option{{ if eq $.Ext ".css" }} selected{{ end }}>.css</option>
        <option{{ if eq $.Ext ".js" }} selected{{ end }}>.js</option>
        <option{{ if eq $.Ext ".md" }} selected{{ end }}>.md</option>
        <option{{ if eq $.Ext ".txt" }} selected{{ end }}>.txt</option>
        {{- else if eq (head $.Parent) "pages" }}
        <option selected>.html</option>
        {{- else if eq (head $.Parent) "posts" }}
        <option selected>.md</option>
        {{- else if eq (head $.Parent) "output" }}
          {{- if eq (head (tail $.Parent)) "themes" }}
          <option{{ if eq $.Ext ".html" }} selected{{ end }}>.html</option>
          <option{{ if eq $.Ext ".css" }} selected{{ end }}>.css</option>
          <option{{ if eq $.Ext ".js" }} selected{{ end }}>.js</option>
          <option{{ if eq $.Ext ".md" }} selected{{ end }}>.md</option>
          <option{{ if eq $.Ext ".txt" }} selected{{ end }}>.txt</option>
          {{- else }}
          <option{{ if eq $.Ext ".css" }} selected{{ end }}>.css</option>
          <option{{ if eq $.Ext ".js" }} selected{{ end }}>.js</option>
          <option{{ if eq $.Ext ".md" }} selected{{ end }}>.md</option>
          {{- end }}
        {{- end }}
      </select>
    </div>
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "name" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <div data-codemirror>
    <textarea id='content' name='content' dir='auto' class='w-100 pa2 min-h5 h6 resize-vertical code'>{{ $.Content }}</textarea>
  </div>
  {{- if eq (head $.Parent) "pages" "posts" }}
  <div class='mt2'>
    <div class='b'>Images:</div>
    <div><input type='file' name='file' style='max-width: 220px;' accept='.jpeg,.jpg,.png,.webp,.gif' multiple></div>
    <div><input placeholder='paste images from clipboard' style='min-width: 220px;' class='mt2' data-paste='{"name":"file","ext":[".jpeg",".jpg",".png",".webp",".gif"]}'></div>
  </div>
  {{- end }}
  <button type='submit' class='button ba br2 pa2 mv3 w-100'>
    {{- if eq (head $.Parent) "notes" }}
    create note
    {{- else if eq (head $.Parent) "pages" }}
    create page
    {{- else if eq (head $.Parent) "posts" }}
    create post
    {{- else }}
    create file
    {{- end }}
  </button>
</form>
{{- end }}
