<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<title>Create file</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  &bull;
  <a href='{{ $.ContentSite }}' class='ma2 white'>{{ if hasPrefix $.ContentSite "https://" }}{{ trimPrefix $.ContentSite "https://" }}{{ else }}{{ trimPrefix $.ContentSite "http://" }}{{ end }}</a>
  <span class='flex-grow-1'></span>
  {{- if $.Username.Valid }}
  <a href='' class='ma2'>{{ if $.Username.String }}@{{ $.Username.String }}{{ else }}user{{ end }}</a>
  <a href='/users/logout/' class='ma2'>logout</a>
  {{- end }}
</nav>
{{- if or (eq $.Error "InvalidParent") (not $.Files) }}
<div class='mv5 w-80 w-70-m w-60-l center'>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- end }}
  <div class='mv3 b tc'>No items to delete</div>
</div>
{{- else }}
<form method='post' class='mv5 w-80 w-70-m w-60-l center'>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- end }}
  <h3 class='mv3 b'>Delete the following files(s)?</h3>
  <input type='hidden' name='parent' value='{{ $.Parent }}'>
  <ul class='list-style-disc ph3'>
    {{- range $file := $.Files }}
    <li class='mv1'>
      <a href='/{{ join "files" $.SitePrefix $.Parent $file.Name }}{{ if $file.IsDir }}/{{ end }}'>{{ $file.Name }}{{ if $file.IsDir }}/{{ end }}</a>
      <input type='hidden' name='name' value='{{ $file.Name }}'>
    </li>
    {{- end }}
  </ul>
  <button type='submit' class='button-danger ba br2 b--dark-red pa2 mv3'>Delete</button>
</form>
{{- end }}
