{{- $clipboard := clipboard }}
<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
{{- if le (len $.Content) 50000 }}
<script type='module' src='/files/static/codemirror.js'></script>
{{- end }}
<title>{{ base $.FilePath }}{{ if $.SitePrefix }} - {{ $.SitePrefix }}{{ end }}</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  &bull;
  <a href='{{ $.ContentSite }}' class='ma2 white'>{{ if hasPrefix $.ContentSite "https://" }}{{ trimPrefix $.ContentSite "https://" }}{{ else }}{{ trimPrefix $.ContentSite "http://" }}{{ end }}</a>
  <span class='flex-grow-1'></span>
  {{- if $.Username.Valid }}
  <a href='' class='ma2'>{{ if $.Username.String }}@{{ $.Username.String }}{{ else }}user{{ end }}</a>
  <a href='/users/logout/' class='ma2'>logout</a>
  {{- end }}
</nav>
{{- if eq (index $.PostRedirectGet "from") "createfile" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-center'>
  {{- if eq (head $.FilePath) "pages" }}
  <div>created page</div>
  {{- else if eq (head $.FilePath) "posts" }}
  <div>created post</div>
  {{- else }}
  <div>created file</div>
  {{- end }}
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if eq (index $.PostRedirectGet "from") "files" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-center'>
  {{- if eq (head $.FilePath) "pages" }}
  <div>saved page</div>
  {{- else if eq (head $.FilePath) "posts" }}
  <div>saved post</div>
  {{- else }}
  <div>saved file</div>
  {{- end }}
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if eq (index $.PostRedirectGet "from") "paste" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-center'>
  {{- $error := index $.PostRedirectGet "error" }}
  {{- if $error }}
    <div>{{ $error }}</div>
  {{- else }}
    {{- $srcSitePrefix := index $.PostRedirectGet "srcSitePrefix" }}
    {{- $srcParent := index $.PostRedirectGet "srcParent" }}
    {{- $srcHead := head (index $.PostRedirectGet "srcParent") }}
    {{- $destHead := head (index $.PostRedirectGet "destParent") }}
    {{- $isCut := index $.PostRedirectGet "isCut" }}
    {{- $filesExist := index $.PostRedirectGet "filesExist" }}
    {{- $filesInvalid := index $.PostRedirectGet "filesInvalid" }}
    {{- $numPasted := len (index $.PostRedirectGet "filesPasted") }}
    <div>
      <div>{{ $numPasted }} file{{ if ne $numPasted 1 }}s{{ end }} pasted</div>
      {{- if $filesExist }}
      <br>
      <div>
        The following files were not pasted because a destination file already exists:
        <ul class='list-style-disc ph3'>
          {{- range $name := $filesExist }}
          <li><a href='/{{ join "files" $srcSitePrefix $srcParent $name }}{{ if not (ext $name) }}/{{ end }}'>{{ $name }}</a></li>
          {{- end }}
        </ul>
      </div>
      {{- end }}
      {{- if $filesInvalid }}
      <br>
      <div>
        {{- if eq $destHead "pages" }}
        The following files were not pasted because they are non-html files or contain non-html files:
        {{- else if eq $destHead "posts" }}
        The following files were not pasted because they are non-markdown files or contain non-markdown files:
        {{- else }}
        The following files were not pasted because they are invalid or contain invalid files:
        {{- end }}
        <ul class='list-style-disc ph3'>
          {{- range $name := $filesInvalid }}
          <li><a href='/{{ join "files" $srcSitePrefix $srcParent $name }}{{ if not (ext $name) }}/{{ end }}'>{{ $name }}</a></li>
          {{- end }}
        </ul>
      </div>
      {{- end }}
    </div>
  {{- end }}
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if gt (len $clipboard) 0 }}
<div class='dashed-border mv2 pa2 br2 flex items-center'>
  <div class='flex-grow-1 truncate'>
    <a href='/{{ join "files" ($clipboard.Get "sitePrefix") ($clipboard.Get "parent") }}/'>{{ len (index $clipboard "name") }} file{{ if ne (len (index $clipboard "name")) 1 }}s{{ end }} {{ if $clipboard.Has "cut" }}cut{{ else }}copied{{ end }}</a>: {{ range $i, $name := index $clipboard "name" }}{{ if gt $i 0 }}, {{ end }}{{ $name }}{{ end }}
  </div>
  {{- if eq $.FilePath "pages/index.html" }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/paste" }}/' class='ml2'>
    <input type='hidden' name='parent' value='/{{ join "files" $.SitePrefix "output" }}/'>
    <button type='submit' class='button ba br2 pv2 ph2'>paste</button>
  </form>
  {{- else if eq (head $.FilePath) "pages" }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/paste" }}/' class='ml2'>
    <input type='hidden' name='parent' value='/{{ join "files" $.SitePrefix "output" (trimSuffix (tail $.FilePath) (ext $.FilePath)) }}/'>
    <button type='submit' class='button ba br2 pv2 ph2'>paste</button>
  </form>
  {{- else if eq (head $.FilePath) "posts" }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/paste" }}/' class='ml2'>
    <input type='hidden' name='parent' value='/{{ join "files" $.SitePrefix "output" (trimSuffix $.FilePath (ext $.FilePath)) }}/'>
    <button type='submit' class='button ba br2 pv2 ph2'>paste</button>
  </form>
  {{- end }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/clear" }}/' class='ml2'>
    <button type='submit' class='button-danger ba br2 b--dark-red pv2 ph2'>clear</button>
  </form>
</div>
{{- end }}
<div class='mv2'>
  {{- if eq (index $.PostRedirectGet "from") "createfile" }}
  <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>&larr; back</a>
  <span>&boxv;</span>
  {{- else }}
    {{- if referer }}
    <a href='{{ referer }}' data-go-back>&larr; back</a>
    <span>&boxv;</span>
    {{- else }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>&larr; back</a>
    <span>&boxv;</span>
    {{- end }}
  {{- end }}
  {{- if eq (head $.FilePath) "notes" }}
    {{- if ne (dir $.FilePath) "notes" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "notes" }}/'>notes</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  {{- else if eq (head $.FilePath) "pages" }}
    {{- if ne (dir $.FilePath) "pages" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "pages" }}/'>pages</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  <span>&boxv;</span>
  view: <a href='{{ $.URL }}'>page</a>
  {{- else if eq (head $.FilePath) "posts" }}
    {{- if ne (dir $.FilePath) "posts" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "posts" }}/'>posts</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  <span>&boxv;</span>
  view: <a href='{{ $.URL }}'>page</a>
  {{- else if eq (head $.FilePath) "output" }}
    {{- if $.BelongsTo }}
    <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
    <span>&boxv;</span>
    belongs to: <a href='/{{ join "files" $.SitePrefix $.BelongsTo }}/'>{{ base $.BelongsTo }}</a>
    {{- else }}
      {{- if ne (dir $.FilePath) "output/themes" }}
      <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
      <span>&boxv;</span>
      {{- end }}
      {{- if eq (head (tail $.FilePath)) "themes" }}
      <a href='/{{ join "files" $.SitePrefix "output/themes" }}/'>themes</a>
      <span>&boxv;</span>
      {{- end }}
      <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
    {{- end }}
  {{- end }}
</div>
<form method='post' enctype='multipart/form-data' class='mv2'>
  {{- if $.TemplateError.Description }}
  <div class='mv2 invalid-red'>
    <span class='b'>template error: </span>
    {{- $path := "" }}
    {{- if $.TemplateError.Name }}
      {{- if hasPrefix $.TemplateError.Name "/themes/" }}
      {{- $path = join "files" $.SitePrefix "output" $.TemplateError.Name }}
      {{- else }}
      {{- $path = join "files" $.SitePrefix $.TemplateError.Name }}
      {{- end }}
    {{- end }}
    {{- if $path }}
    <a href='/{{ $path }}{{ if $.TemplateError.Line }}#L{{ $.TemplateError.Line }}{{ end }}'>{{ $.TemplateError.Name }}{{ if $.TemplateError.Line }}:{{ $.TemplateError.Line }}{{ end }}</a>: {{ $.TemplateError.Description }}
    {{- else }}
    {{ $.TemplateError.Description }}
    {{- end }}
  </div>
  {{- end }}
  <div class='flex mv2'>
    <label for='content' class='b'>{{ base $.FilePath }}</label>
    <div class='flex-grow-1'></div>
    <button type='button' class='button ba br2 mh2 pointer'>
      <label for='wordwrap:0' class='pointer flex items-center'>
        <input id='wordwrap:0' type='checkbox' class='pointer'>
        <span class='ml1'>word wrap</span>
      </label>
    </button>
    <button type='submit' class='button ba ph3 br2'>save</button>
  </div>
  <input type='hidden' name='ext' value='{{ ext $.FilePath }}'>
  <div data-codemirror>
    <textarea id='content' name='content' dir='auto' class='w-100 pa2 min-h5 h6 resize-vertical code' autofocus>{{ $.Content }}</textarea>
  </div>
  <button type='submit' class='button ba br2 pa2 mv2 w-100'>save</button>
</form>
{{- if eq (head $.FilePath) "pages" "posts" }}
<div class='flex items-center'>
  {{- if eq (head $.FilePath) "posts" }}
  <span class='b'>Images</span>
  {{- else }}
  <span class='b'>Assets</span>
  {{- end }}
  <details class='relative ml2' data-autoclose-details>
    <summary role='button' title='Create' class='pointer flex items-center button ba br2 b--black ph2 h2 hide-marker' data-disable-click-selection>
      {{ template "octicons-plus" }}
      {{ template "octicons-triangle-down" }}
    </summary>
    <div class='absolute bg-white br2' style='top: calc(2rem + 4px); left: 0px; z-index: 1000; border: 1px solid black;'>
      {{- if ne (head $.FilePath) "posts" }}
      <div class='ma2'><a href='/{{ join "files" $.SitePrefix "createfile" }}/?parent={{ join "output" (trimSuffix (tail $.FilePath) ".html") }}' class='nowrap'>📄 create file</a></div>
      <hr>
      {{- end }}
      <form method='post' enctype='multipart/form-data' action='/{{ join "files" $.SitePrefix "uploadfile" }}/' class='pa2'>
        <input type='hidden' name='parent' value='{{ $.FilePath }}'>
        <input type='file' name='file' style='max-width: 220px;' accept='.jpeg,.jpg,.png,.webp,.gif{{ if ne (head $.FilePath) "posts" }}.css,.js,.md{{ end }}' multiple>
        <input placeholder='paste clipboard here' class='mt2' data-paste='file'>
        <button type='submit' class='button ba br2 pa2 w-100 mt2'>upload</button>
      </form>
    </div>
  </details>
</div>
  {{- if $.Assets }}
  <ul class='grid grid-cols-auto-150px grid-gap-3 mv2'>
    {{- range $asset := $.Assets }}
    <li class='h-100'>
      {{- if eq (ext $asset.Name) ".jpeg" ".jpg" ".png" ".webp" ".gif" }}
      <img src='/{{ join "files" $.SitePrefix $.AssetDir $asset.Name }}' class='w-100' loading='lazy'>
      {{- else }}
      <div class='flex justify-center items-center pa2'>
        {{ template "octicons-file-code" }}
      </div>
      {{- end }}
      {{- if eq (ext $asset.Name) ".css" ".js" ".md" }}
      <div class='flex items-center justify-center'>
        <a href='/{{ join "files" $.SitePrefix $.AssetDir $asset.Name }}'>edit</a>
      </div>
      {{- else }}
      <div class='tc'>
        <a href='/{{ join "files" $.SitePrefix $.AssetDir $asset.Name }}'>view</a>
      </div>
      {{- end }}
      <div class='flex items-center'>
        <div class='mr2'><input id='{{ $asset.Name }}' type='checkbox' class='pointer'></div>
        <label for='{{ $asset.Name }}' class='b'>{{ $asset.Name }}</label>
        <span class='ml1 f6 mid-gray nowrap'>{{ fileSizeToString $asset.Size }}</span>
        <details class='ml2 relative' data-autoclose-details>
          <summary role='button' class='flex items-center button ba br2 b--black hide-marker ph1 pointer' data-disable-click-selection>
            {{ template "octicons-triangle-down" }}
          </summary>
          <div class='absolute bg-white br2' style='top: calc(1rem + 4px); right: 0px; z-index: 1000; border: 1px solid black;'>
            <div class='ma2 tr'><a href=''>rename</a></div>
            <div class='ma2'><button type='submit' formmethod='post' formaction='' name='name' value='' class='button ba br2 pa2 w-100'>insert</button></div>
            <div class='ma2'><button type='submit' formmethod='post' formaction='/{{ join "files" $.SitePrefix "clipboard/cut" }}/' name='name' value='{{ $asset.Name }}' class='button ba br2 pa2 w-100'>cut</button></div>
            <div class='ma2'><button type='submit' formmethod='post' formaction='/{{ join "files" $.SitePrefix "clipboard/copy" }}/' name='name' value='{{ $asset.Name }}' class='button ba br2 pa2 w-100'>copy</button></div>
            <div class='ma2'><button type='submit' formmethod='get' formaction='/{{ join "files" $.SitePrefix "delete" }}/' name='name' value='{{ $asset.Name }}' class='button-danger ba br2 b--dark-red pa2 w-100'>delete</button></div>
          </div>
        </details>
      </div>
    </li>
    {{- end }}
  </ul>
  {{- else }}
  <div class='mv2 tc'>{{ if eq (head $.FilePath) "posts" }}- No images -{{ else }}- No assets -{{ end }}</div>
  {{- end }}
{{- end }}

{{- define "octicons-file-code" }}
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'>
  <path d='M3 3a2 2 0 0 1 2-2h9.982a2 2 0 0 1 1.414.586l4.018 4.018A2 2 0 0 1 21 7.018V21a2 2 0 0 1-2 2H4.75a.75.75 0 0 1 0-1.5H19a.5.5 0 0 0 .5-.5V8.5h-4a2 2 0 0 1-2-2v-4H5a.5.5 0 0 0-.5.5v6.25a.75.75 0 0 1-1.5 0Zm12-.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 0-.146-.336l-4.018-4.018A.5.5 0 0 0 15 2.5Z'></path>
  <path d='M4.53 12.24a.75.75 0 0 1-.039 1.06l-2.639 2.45 2.64 2.45a.75.75 0 1 1-1.022 1.1l-3.23-3a.75.75 0 0 1 0-1.1l3.23-3a.75.75 0 0 1 1.06.04Zm3.979 1.06a.75.75 0 1 1 1.02-1.1l3.231 3a.75.75 0 0 1 0 1.1l-3.23 3a.75.75 0 1 1-1.021-1.1l2.639-2.45-2.64-2.45Z'></path>
</svg>
{{- end }}

{{- define "heroicons-ellipsis-horizontal" }}
<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 24 24'>
  <path d='M5 12H5.01M12 12H12.01M19 12H19.01M6 12C6 12.5523 5.55228 13 5 13C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11C5.55228 11 6 11.4477 6 12ZM13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12ZM20 12C20 12.5523 19.5523 13 19 13C18.4477 13 18 12.5523 18 12C18 11.4477 18.4477 11 19 11C19.5523 11 20 11.4477 20 12Z' stroke='#4A5568' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/>
</svg>
{{- end }}

{{- define "octicons-triangle-down" }}
<svg aria-hidden='true' height='16' viewBox='0 0 16 16' version='1.1' width='16' data-view-component='true' class='octicon octicon-triangle-down'>
  <path d='m4.427 7.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.396 7H4.604a.25.25 0 0 0-.177.427Z'></path>
</svg>
{{- end }}

{{- define "octicons-plus" }}
<svg aria-hidden='true' height='16' viewBox='0 0 16 16' version='1.1' width='16' data-view-component='true' class='octicon octicon-plus'>
  <path d='M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z'></path>
</svg>
{{- end }}
