{{- $clipboard := clipboard }}
<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
{{- if le (len $.Content) 50000 }}
<script type='module' src='/files/static/codemirror.js'></script>
{{- end }}
<title>{{ base $.FilePath }}{{ if $.SitePrefix }} - {{ $.SitePrefix }}{{ end }}</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  &bull;
  <a href='{{ $.ContentSite }}' class='ma2 white'>{{ if hasPrefix $.ContentSite "https://" }}{{ trimPrefix $.ContentSite "https://" }}{{ else }}{{ trimPrefix $.ContentSite "http://" }}{{ end }}</a>
  <span class='flex-grow-1'></span>
  {{- if $.Username.Valid }}
  <a href='' class='ma2'>{{ if $.Username.String }}@{{ $.Username.String }}{{ else }}user{{ end }}</a>
  <a href='/users/logout/' class='ma2'>logout</a>
  {{- end }}
</nav>
{{- if eq (index $.PostRedirectGet "from") "createfile" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-center'>
  {{- if eq (head $.FilePath) "pages" }}
  <div>created page</div>
  {{- else if eq (head $.FilePath) "posts" }}
  <div>created post</div>
  {{- else }}
  <div>created file</div>
  {{- end }}
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if eq (index $.PostRedirectGet "from") "files" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-center'>
  {{- if eq (head $.FilePath) "pages" }}
  <div>saved page</div>
  {{- else if eq (head $.FilePath) "posts" }}
  <div>saved post</div>
  {{- else }}
  <div>saved file</div>
  {{- end }}
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if eq (index $.PostRedirectGet "from") "paste" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-center'>
  {{- $srcHead := head (index $.PostRedirectGet "srcParent") }}
  {{- $destHead := head (index $.PostRedirectGet "destParent") }}
  {{- $isCut := index $.PostRedirectGet "isCut" }}
  {{- $filesExist := index $.PostRedirectGet "filesExist" }}
  {{- $filesInvalid := index $.PostRedirectGet "filesInvalid" }}
  {{- $numPasted := len (index $.PostRedirectGet "filesPasted") }}
  <div>
    <div>{{ $numPasted }} file{{ if ne $numPasted 1 }}s{{ end }} pasted</div>
    {{- if $filesExist }}
    <br>
    <div>
      The following files already exist:
      <ul class='list-style-disc ph3'>
        {{- range $name := $filesExist }}
        <li>{{ $name }}</li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
    {{- if $filesInvalid }}
    <br>
    <div>
      {{- if eq $destHead "pages" }}
      The following files are non-html files or contain non-html files:
      {{- else if eq $destHead "posts" }}
      The following files are non-markdown files or contain non-markdown files:
      {{- else }}
      The following files are invalid or contain invalid files:
      {{- end }}
      <ul class='list-style-disc ph3'>
        {{- range $name := $filesInvalid }}
        <li>{{ $name }}</li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
  </div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if gt (len $clipboard) 0 }}
<div class='dashed-border mv2 pa2 br2 flex items-center'>
  <div class='flex-grow-1 truncate'>
    <a href='/{{ join "files" ($clipboard.Get "sitePrefix") ($clipboard.Get "parent") }}/'>{{ len (index $clipboard "name") }} file{{ if ne (len (index $clipboard "name")) 1 }}s{{ end }} {{ if $clipboard.Has "cut" }}cut{{ else }}copied{{ end }}</a>: {{ range $i, $name := index $clipboard "name" }}{{ if gt $i 0 }}, {{ end }}{{ $name }}{{ end }}
  </div>
  {{- if eq (head $.FilePath) "pages" }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/paste" }}/' class='ml2'>
    <input type='hidden' name='parent' value='/{{ join "files" $.SitePrefix "output" (trimSuffix (tail $.FilePath) (ext $.FilePath)) }}/'>
    <button type='submit' class='button ba br2 pv2 ph2'>paste</button>
  </form>
  {{- else if eq (head $.FilePath) "posts" }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/paste" }}/' class='ml2'>
    <input type='hidden' name='parent' value='/{{ join "files" $.SitePrefix "output" (trimSuffix $.FilePath (ext $.FilePath)) }}/'>
    <button type='submit' class='button ba br2 pv2 ph2'>paste</button>
  </form>
  {{- end }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/clear" }}/' class='ml2'>
    <button type='submit' class='button-danger ba br2 b--dark-red pv2 ph2'>clear</button>
  </form>
</div>
{{- end }}
<div class='mv2'>
  {{- if ne (index $.PostRedirectGet "from") "createfile" }}
    {{- if referer }}
    <a href='{{ referer }}' data-go-back>&larr; back</a>
    <span>&boxv;</span>
    {{- else }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>&larr; back</a>
    <span>&boxv;</span>
    {{- end }}
  {{- end }}
  {{- if eq (head $.FilePath) "notes" }}
    {{- if ne (dir $.FilePath) "notes" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "notes" }}/'>notes</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  {{- else if eq (head $.FilePath) "pages" }}
    {{- if ne (dir $.FilePath) "pages" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "pages" }}/'>pages</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  <span>&boxv;</span>
  view: <a href='{{ $.URL }}'>page</a>
  {{- else if eq (head $.FilePath) "posts" }}
    {{- if ne (dir $.FilePath) "posts" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "posts" }}/'>posts</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  <span>&boxv;</span>
  view: <a href='{{ $.URL }}'>page</a>
  {{- else if eq (head $.FilePath) "output" }}
    {{- if $.BelongsTo }}
    <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
    <span>&boxv;</span>
    belongs to: <a href='/{{ join "files" $.SitePrefix $.BelongsTo }}/'>{{ base $.BelongsTo }}</a>
    {{- else }}
      {{- if ne (dir $.FilePath) "output/themes" }}
      <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
      <span>&boxv;</span>
      {{- end }}
      {{- if eq (head (tail $.FilePath)) "themes" }}
      <a href='/{{ join "files" $.SitePrefix "output/themes" }}/'>themes</a>
      <span>&boxv;</span>
      {{- end }}
      <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
    {{- end }}
  {{- end }}
</div>
<form method='post' enctype='multipart/form-data' class='mv2'>
  {{- if $.TemplateErrors }}
  <div class='b invalid-red'>template errors:</div>
  <ul class='list-style-disc ph3 invalid-red'>
    {{- range $error := $.TemplateErrors }}
    <li>{{ $error }}</li>
    {{- end }}
  </ul>
  {{- end }}
  <div class='flex mv2'>
    <label for='content' class='b'>{{ base $.FilePath }}</label>
    <div class='flex-grow-1'></div>
    <button type='button' class='button ba br2 mh2 pointer'>
      <label for='wordwrap:0' class='pointer flex items-center'>
        <input id='wordwrap:0' type='checkbox' class='pointer'>
        <span class='ml1'>word wrap</span>
      </label>
    </button>
    <button type='submit' class='button ba ph3 br2'>save</button>
  </div>
  <input type='hidden' name='ext' value='{{ ext $.FilePath }}'>
  <div data-codemirror>
    <textarea id='content' name='content' dir='auto' class='w-100 pa2 min-h5 h6 resize-vertical code' autofocus>{{ $.Content }}</textarea>
  </div>
  <button type='submit' class='button ba br2 pa2 mv2 w-100'>save</button>
</form>
{{- if eq (head $.FilePath) "pages" "posts" }}
<div class='mv2'>
  {{- if eq (head $.FilePath) "posts" }}
  <span class='b'>Images</span>
  <a href='' class='ml2'>upload image</a>
  {{- else }}
  <span class='b'>Assets</span>
  <a href='' class='ml2'>Create file</a>
  <a href='' class='ml2'>Upload file</a>
  {{- end }}
</div>
  {{- if $.Assets }}
  <ul class='grid grid-cols-auto-150px grid-gap-3 mv2'>
    {{- range $asset := $.Assets }}
    <li class='h-100'>
      {{- if eq (ext $asset.Name) ".jpeg" ".jpg" ".png" ".webp" ".gif" }}
      <img src='/{{ join "files" $.SitePrefix $.AssetDir $asset.Name }}' class='w-100' loading='lazy'>
      {{- else }}
      <div class='flex justify-center items-center'>
        {{ template "octicons-file-code" }}
      </div>
      {{- end }}
      <div class='mv2'>
        <span class='b'>{{ $asset.Name }}</span>
        <span class='ml1 f6 mid-gray nowrap'>{{ fileSizeToString $asset.Size }}</span>
        {{- if eq (ext $asset.Name) ".css" ".js" }}
        <a href='/{{ join "files" $.SitePrefix $.AssetDir $asset.Name }}' class='ml2'>edit</a>
        {{- else }}
        <a href='/{{ join "files" $.SitePrefix $.AssetDir $asset.Name }}' class='ml2'>view</a>
        {{- end }}
        <a href='' class='ml2'>rename</a>
        <a href='' class='dark-red ml2'>delete</a>
      </div>
      <div class='mv2'>
        {{- if eq (head $.FilePath) "posts" }}
        <button type='button' value='{{ $asset.Name }}' class='button ba br2 pa2 w-100'>insert into post</button>
        {{- else }}
        <button type='button' value='{{ $asset.Name }}' class='button ba br2 pa2 w-100'>insert into page</button>
        {{- end }}
      </div>
    </li>
    {{- end }}
  </ul>
  {{- else }}
  <div class='mv2 tc'>{{ if eq (head $.FilePath) "posts" }}- No images -{{ else }}- No assets -{{ end }}</div>
  {{- end }}
{{- end }}

{{- define "octicons-file-code" }}
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'>
  <path d='M3 3a2 2 0 0 1 2-2h9.982a2 2 0 0 1 1.414.586l4.018 4.018A2 2 0 0 1 21 7.018V21a2 2 0 0 1-2 2H4.75a.75.75 0 0 1 0-1.5H19a.5.5 0 0 0 .5-.5V8.5h-4a2 2 0 0 1-2-2v-4H5a.5.5 0 0 0-.5.5v6.25a.75.75 0 0 1-1.5 0Zm12-.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 0-.146-.336l-4.018-4.018A.5.5 0 0 0 15 2.5Z'></path>
  <path d='M4.53 12.24a.75.75 0 0 1-.039 1.06l-2.639 2.45 2.64 2.45a.75.75 0 1 1-1.022 1.1l-3.23-3a.75.75 0 0 1 0-1.1l3.23-3a.75.75 0 0 1 1.06.04Zm3.979 1.06a.75.75 0 1 1 1.02-1.1l3.231 3a.75.75 0 0 1 0 1.1l-3.23 3a.75.75 0 1 1-1.021-1.1l2.639-2.45-2.64-2.45Z'></path>
</svg>
{{- end }}
