{{- $clipboard := clipboard }}
<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<script type='module' src='/files/static/codemirror.js'></script>
<title>{{ base $.FilePath }}{{ if $.SitePrefix }} - {{ $.SitePrefix }}{{ end }}</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  &bull;
  <a href='{{ $.ContentSite }}' class='ma2 white'>{{ if hasPrefix $.ContentSite "https://" }}{{ trimPrefix $.ContentSite "https://" }}{{ else }}{{ trimPrefix $.ContentSite "http://" }}{{ end }}</a>
  <span class='flex-grow-1'></span>
  {{- if $.Username.Valid }}
  <a href='' class='ma2'>{{ if $.Username.String }}@{{ $.Username.String }}{{ else }}user{{ end }}</a>
  <a href='/users/logout/' class='ma2'>logout</a>
  {{- end }}
</nav>
{{- if eq (index $.PostRedirectGet "from") "createfile" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-center'>
  <div>
    {{- if eq (head $.FilePath) "pages" }}
    <div>created page</div>
    {{- else if eq (head $.FilePath) "posts" }}
    <div>created post</div>
    {{- else }}
    <div>created file</div>
    {{- end }}
    {{- if $.FilesTooBig }}
    <br>
    <div>
      The following files were not uploaded because they are too big (max 10 MB per file):
      <ul class='list-style-disc ph3'>
        {{- range $name := $.FilesTooBig }}
        <li>{{ $name }}</li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
  </div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if eq (index $.PostRedirectGet "from") "file" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-start'>
  <div>
    {{- if eq (head $.FilePath) "pages" }}
    <div>saved page</div>
    {{- else if eq (head $.FilePath) "posts" }}
    <div>saved post</div>
    {{- else }}
    <div>saved file</div>
    {{- end }}
    {{- if $.FilesExist }}
    <br>
    <div>
      The following files were not uploaded because a destination file already exists:
      <ul class='list-style-disc ph3'>
        {{- range $name := $.FilesExist }}
        <li>{{ $name }}</li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
    {{- if $.FilesTooBig }}
    <br>
    <div>
      The following files were not uploaded because they are too big (max 10 MB per file):
      <ul class='list-style-disc ph3'>
        {{- range $name := $.FilesTooBig }}
        <li>{{ $name }}</li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
  </div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if eq (index $.PostRedirectGet "from") "delete" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-center'>
  {{- $numDeleted := index $.PostRedirectGet "numDeleted" }}
  {{- $numErrors := index $.PostRedirectGet "numErrors" }}
  <div class='flex items-center'>
    {{ template "heroicons-trash" }}
    <span class='ml2'>{{ $numDeleted }} file{{ if ne $numDeleted 1.0 }}s{{ end }} deleted {{ if $numErrors }}({{ $numErrors }} error{{ if ne $numErrors 1.0 }}s{{ end }}){{ end }}</span>
  </div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if eq (index $.PostRedirectGet "from") "clipboard/paste" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-center'>
  {{- $error := index $.PostRedirectGet "error" }}
  {{- if $error }}
    <div>{{ $error }}</div>
  {{- else }}
    {{- $srcSitePrefix := index $.PostRedirectGet "srcSitePrefix" }}
    {{- $srcParent := index $.PostRedirectGet "srcParent" }}
    {{- $srcHead := head (index $.PostRedirectGet "srcParent") }}
    {{- $destHead := head (index $.PostRedirectGet "destParent") }}
    {{- $isCut := index $.PostRedirectGet "isCut" }}
    {{- $filesExist := index $.PostRedirectGet "filesExist" }}
    {{- $filesInvalid := index $.PostRedirectGet "filesInvalid" }}
    {{- $numPasted := len (index $.PostRedirectGet "filesPasted") }}
    <div>
      <div>{{ $numPasted }} file{{ if ne $numPasted 1 }}s{{ end }} pasted</div>
      {{- if $filesExist }}
      <br>
      <div>
        The following files were not pasted because a destination file already exists:
        <ul class='list-style-disc ph3'>
          {{- range $name := $filesExist }}
          <li><a href='/{{ join "files" $srcSitePrefix $srcParent $name }}{{ if not (ext $name) }}/{{ end }}'>{{ $name }}</a></li>
          {{- end }}
        </ul>
      </div>
      {{- end }}
      {{- if $filesInvalid }}
      <br>
      <div>
        {{- if eq $destHead "pages" }}
        The following files were not pasted because they are non-html files or contain non-html files:
        {{- else if eq $destHead "posts" }}
        The following files were not pasted because they are non-markdown files or contain non-markdown files:
        {{- else }}
        The following files were not pasted because they are invalid or contain invalid files:
        {{- end }}
        <ul class='list-style-disc ph3'>
          {{- range $name := $filesInvalid }}
          <li><a href='/{{ join "files" $srcSitePrefix $srcParent $name }}{{ if not (ext $name) }}/{{ end }}'>{{ $name }}</a></li>
          {{- end }}
        </ul>
      </div>
      {{- end }}
    </div>
  {{- end }}
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if eq (index $.PostRedirectGet "from") "rename" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-start'>
  {{ $parent := index $.PostRedirectGet "parent" }}
  {{ $oldName := index $.PostRedirectGet "oldName" }}
  {{ $newName := index $.PostRedirectGet "newName" }}
  {{ $isDir := index $.PostRedirectGet "isDir" }}
  <div class='flex items-center'>
    <div>renamed {{ $oldName }}{{ if $isDir }}/{{ end }} =&gt; <a href='/{{ join "files" $.SitePrefix $parent $newName }}{{ if $isDir }}/{{ end }}'>{{ $newName }}{{ if $isDir}}/{{ end }}</a></div>
  </div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if len $clipboard }}
{{- $srcSitePrefix := $clipboard.Get "sitePrefix" }}
{{- $srcParent := $clipboard.Get "parent" }}
{{- $names := index $clipboard "name" }}
<div class='dashed-border mv2 pa2 br2 flex items-center'>
  <div class='flex-grow-1 truncate'>
    {{- if eq (head $srcParent) "output" }}
      {{- if eq (head (tail $srcParent)) "themes" }}
      <a href='/{{ join "files" $srcSitePrefix $srcParent }}/'>{{ len $names }} file{{ if ne (len $names) 1 }}s{{ end }} {{ if $clipboard.Has "cut" }}cut{{ else }}copied{{ end }}</a>: {{ range $i, $name := $names }}{{ if $i }}, {{ end }}{{ $name }}{{ end }}
      {{- else if eq (head (tail $srcParent)) "posts" }}
      <a href='/{{ join "files" $srcSitePrefix $srcParent }}.md'>{{ len $names }} file{{ if ne (len $names) 1 }}s{{ end }} {{ if $clipboard.Has "cut" }}cut{{ else }}copied{{ end }}</a>: {{ range $i, $name := $names }}{{ if $i }}, {{ end }}{{ $name }}{{ end }}
      {{- else }}
      <a href='/{{ join "files" $srcSitePrefix "pages" (tail $srcParent) }}.html'>{{ len $names }} file{{ if ne (len $names) 1 }}s{{ end }} {{ if $clipboard.Has "cut" }}cut{{ else }}copied{{ end }}</a>: {{ range $i, $name := $names }}{{ if $i }}, {{ end }}{{ $name }}{{ end }}
      {{- end }}
    {{- else }}
    <a href='/{{ join "files" $srcSitePrefix $srcParent }}/'>{{ len $names }} file{{ if ne (len $names) 1 }}s{{ end }} {{ if $clipboard.Has "cut" }}cut{{ else }}copied{{ end }}</a>: {{ range $i, $name := $names }}{{ if $i }}, {{ end }}{{ $name }}{{ end }}
    {{- end }}
  </div>
  {{- if eq $.FilePath "pages/index.html" }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/paste" }}/' class='ml2'>
    <input type='hidden' name='parent' value='/output/'>
    <button type='submit' class='button ba br2 pv2 ph2'>paste</button>
  </form>
  {{- else if eq (head $.FilePath) "pages" }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/paste" }}/' class='ml2'>
    <input type='hidden' name='parent' value='/{{ join "output" (trimSuffix (tail $.FilePath) ".html") }}/'>
    <button type='submit' class='button ba br2 pv2 ph2'>paste</button>
  </form>
  {{- else if eq (head $.FilePath) "posts" }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/paste" }}/' class='ml2'>
    <input type='hidden' name='parent' value='/{{ join "output" (trimSuffix $.FilePath ".md") }}/'>
    <button type='submit' class='button ba br2 pv2 ph2'>paste</button>
  </form>
  {{- end }}
  <form method='post' action='/{{ join "files" $.SitePrefix "clipboard/clear" }}/' class='ml2'>
    <button type='submit' class='button-danger ba br2 b--dark-red pv2 ph2'>clear</button>
  </form>
</div>
{{- end }}
<div class='mv2'>
  {{- if eq (index $.PostRedirectGet "from") "createfile" "rename" }}
  <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>&larr; back</a>
  <span>&boxv;</span>
  {{- else }}
    {{- if referer }}
    <a href='{{ referer }}' data-go-back>&larr; back</a>
    <span>&boxv;</span>
    {{- else }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>&larr; back</a>
    <span>&boxv;</span>
    {{- end }}
  {{- end }}
  {{- if eq (head $.FilePath) "notes" }}
    {{- if ne (dir $.FilePath) "notes" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "notes" }}/'>notes</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  {{- else if eq (head $.FilePath) "pages" }}
    {{- if ne (dir $.FilePath) "pages" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "pages" }}/'>pages</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  <span>&boxv;</span>
  view: <a href='{{ $.URL }}'>page</a>
  {{- else if eq (head $.FilePath) "posts" }}
    {{- if ne (dir $.FilePath) "posts" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "posts" }}/'>posts</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  <span>&boxv;</span>
  view: <a href='{{ $.URL }}'>page</a>
  {{- else if eq (head $.FilePath) "output" }}
    {{- if $.BelongsTo }}
    <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
    <span>&boxv;</span>
    belongs to: <a href='/{{ join "files" $.SitePrefix $.BelongsTo }}/'>{{ base $.BelongsTo }}</a>
    {{- else }}
      {{- if ne (dir $.FilePath) "output/themes" }}
      <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
      <span>&boxv;</span>
      {{- end }}
      {{- if eq (head (tail $.FilePath)) "themes" }}
      <a href='/{{ join "files" $.SitePrefix "output/themes" }}/'>themes</a>
      <span>&boxv;</span>
      {{- end }}
      <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
    {{- end }}
  {{- end }}
</div>
<form method='post' enctype='multipart/form-data' class='mv2'>
  {{- if $.TemplateError.ErrorMessage }}
  <div class='mv2 invalid-red'>
    <span class='b'>template error: </span>
    {{- $path := "" }}
    {{- if $.TemplateError.Name }}
      {{- if hasPrefix $.TemplateError.Name "/themes/" }}
      {{- $path = join "files" $.SitePrefix "output" $.TemplateError.Name }}
      {{- else }}
      {{- $path = join "files" $.SitePrefix $.TemplateError.Name }}
      {{- end }}
    {{- end }}
    {{- if $path }}
    <a href='/{{ $path }}{{ if $.TemplateError.Line }}#L{{ $.TemplateError.Line }}{{ end }}'>{{ $.TemplateError.Name }}{{ if $.TemplateError.Line }}:{{ $.TemplateError.Line }}{{ end }}</a>: {{ $.TemplateError.ErrorMessage }}
    {{- else }}
    {{ $.TemplateError.ErrorMessage }}
    {{- end }}
  </div>
  {{- end }}
  <div class='flex mv2'>
    <label for='content' class='b'>{{ base $.FilePath }}</label>
    <div class='flex-grow-1'></div>
    <button type='button' class='button ba br2 mh2 pointer'>
      <label for='wordwrap:0' class='pointer flex items-center'>
        <input id='wordwrap:0' type='checkbox' class='pointer'>
        <span class='ml1'>word wrap</span>
      </label>
    </button>
    <button type='submit' class='button ba ph3 br2'>save</button>
  </div>
  <input type='hidden' name='ext' value='{{ ext $.FilePath }}'>
  <div data-codemirror>
    <textarea id='content' name='content' dir='auto' class='w-100 pa2 min-h5 h6 resize-vertical code'>{{ $.Content }}</textarea>
  </div>
  {{- if eq (head $.FilePath) "pages" "posts" }}
  <div class='mt2'>
    {{- if eq (head $.FilePath) "pages" }}
    <div class='b'>Upload Assets:</div>
    <div><input type='file' name='file' style='max-width: 220px;' accept='.jpeg,.jpg,.png,.webp,.gif,.css,.js,.md' multiple></div>
    <div><input placeholder='paste files from clipboard' style='min-width: 220px;' class='mt2' data-paste='{"name":"file","ext":[".jpeg",".jpg",".png",".webp",".gif",".css",".js",".md"]}'></div>
    {{- else if eq (head $.FilePath) "posts" }}
    <div class='b'>Upload Images:</div>
    <div><input type='file' name='file' style='max-width: 220px;' accept='.jpeg,.jpg,.png,.webp,.gif' multiple></div>
    <div><input placeholder='paste images from clipboard' style='min-width: 220px;' class='mt2' data-paste='{"name":"file","ext":[".jpeg",".jpg",".png",".webp",".gif"]}'></div>
    {{- end }}
  </div>
  {{- end }}
  <button type='submit' class='button ba br2 pa2 mv3 w-100'>save</button>
</form>
{{- if eq (head $.FilePath) "pages" "posts" }}
  <div class='flex items-center'>
    {{- if eq (head $.FilePath) "pages" }}
    <span class='b'>Assets</span>
    <div class='ma2'><a href='/{{ join "files" $.SitePrefix "createfile" }}/?parent={{ join "output" (trimSuffix (tail $.FilePath) ".html") }}' class='nowrap'>create file</a></div>
    {{- else }}
    <span class='b'>Images</span>
    {{- end }}
  </div>
  {{- if $.Assets }}
  <form>
    <input type='hidden' name='parent' value='{{ $.AssetDir }}'>
    <ul class='grid grid-cols-auto-150px grid-gap-3 mv2'>
      {{- range $asset := $.Assets }}
      <li class='h-100'>
        {{- if eq (ext $asset.Name) ".jpeg" ".jpg" ".png" ".webp" ".gif" }}
        <label class='pointer{{ if isInClipboard $asset.Name }} dashed-border{{ end }}' style='display: block; position: relative;' data-disable-click-selection>
          <input type='checkbox' id='{{ $asset.Name }}' name='name' value='{{ $asset.Name }}' class='pointer' style='position: absolute; top: 4px; left: 4px;'>
          <img src='{{ imgURL $asset }}' class='w-100' loading='lazy'>
        </label>
        <div style='overflow-wrap: break-word;'>
          <span class='b mr2 mb2'>{{ $asset.Name }}</span>
          <a href='/{{ join "files" $.SitePrefix $.AssetDir $asset.Name }}' class='dib mr2 mb2'>view</a>
          <a href='/{{ join "files" $.SitePrefix "rename" }}/?parent={{ $.AssetDir }}&name={{ $asset.Name }}' class='dib mr2 mb2'>rename</a>
          <button type='submit' formmethod='post' formaction='/{{ join "files" $.SitePrefix "clipboard/cut" }}/' name='name' value='{{ $asset.Name }}' class='button ba br2 pa2 mr2 mb2'>cut</button>
          <button type='submit' formmethod='post' formaction='/{{ join "files" $.SitePrefix "clipboard/copy" }}/' name='name' value='{{ $asset.Name }}' class='button ba br2 pa2 mr2 mb2'>copy</button>
          <button type='submit' formmethod='get' formaction='/{{ join "files" $.SitePrefix "delete" }}/' name='name' value='{{ $asset.Name }}' class='button-danger ba br2 b--dark-red pa2 mr2 mb2'>delete</button>
        </div>
        {{- else }}
        <label class='pointer{{ if isInClipboard $asset.Name }} dashed-border{{ end }}' style='display: block; position: relative;' data-disable-click-selection>
          <input type='checkbox' id='{{ $asset.Name }}' name='name' value='{{ $asset.Name }}' class='pointer' style='position: absolute; top: 4px; left: 4px;'>
          <div class='flex justify-center pv4'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='50' height='50'>
              <path d='M3 3a2 2 0 0 1 2-2h9.982a2 2 0 0 1 1.414.586l4.018 4.018A2 2 0 0 1 21 7.018V21a2 2 0 0 1-2 2H4.75a.75.75 0 0 1 0-1.5H19a.5.5 0 0 0 .5-.5V8.5h-4a2 2 0 0 1-2-2v-4H5a.5.5 0 0 0-.5.5v6.25a.75.75 0 0 1-1.5 0Zm12-.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 0-.146-.336l-4.018-4.018A.5.5 0 0 0 15 2.5Z'></path>
              <path d='M4.53 12.24a.75.75 0 0 1-.039 1.06l-2.639 2.45 2.64 2.45a.75.75 0 1 1-1.022 1.1l-3.23-3a.75.75 0 0 1 0-1.1l3.23-3a.75.75 0 0 1 1.06.04Zm3.979 1.06a.75.75 0 1 1 1.02-1.1l3.231 3a.75.75 0 0 1 0 1.1l-3.23 3a.75.75 0 1 1-1.021-1.1l2.639-2.45-2.64-2.45Z'></path>
            </svg>
          </div>
        </label>
        <div style='overflow-wrap: break-word;'>
          <span class='b mr2 mb2'>{{ $asset.Name }} loremipsumdolorsitamet</span>
          <a href='/{{ join "files" $.SitePrefix $.AssetDir $asset.Name }}' class='dib mr2 mb2'>edit</a>
          <a href='' class='dib mr2 mb2'>rename</a>
          <button type='submit' formmethod='post' formaction='/{{ join "files" $.SitePrefix "clipboard/cut" }}/' name='name' value='{{ $asset.Name }}' class='button ba br2 pa2 mr2 mb2'>cut</button>
          <button type='submit' formmethod='post' formaction='/{{ join "files" $.SitePrefix "clipboard/cut" }}/' name='name' value='{{ $asset.Name }}' class='button ba br2 pa2 mr2 mb2'>copy</button>
          <button type='submit' formmethod='get' formaction='/{{ join "files" $.SitePrefix "delete" }}/' name='name' value='{{ $asset.Name }}' class='button-danger ba br2 b--dark-red pa2 mr2 mb2'>delete</button>
        </div>
        {{- end }}
      </li>
      {{- end }}
    </ul>
  <form>
  {{- else }}
  <div class='mv2 tc'>{{ if eq (head $.FilePath) "posts" }}- No images -{{ else }}- No assets -{{ end }}</div>
  {{- end }}
{{- end }}

{{- define "heroicons-trash" }}
<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'  width='16' height='16'>
  <path stroke-linecap='round' stroke-linejoin='round' d='m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0' />
</svg>
{{- end }}
