<style>
html { max-width: 80ch; padding: 3em 1em; margin: auto; line-height: 1.75; font-size: 1.25em; background-color: #fafafa; }
p, ul, ol { margin-bottom: 2em; color: #1d1d1d; font-family: sans-serif; }
</style>
<title>{{ if $.Title }}{{ $.Title }}{{ else }}Untitled{{ end }}</title>
<nav>
  {{- range $i, $navigationLink := $.Site.NavigationLinks }}
  {{ if $i }}&boxv; {{ end }}<a href='{{ $navigationLink.URL }}'>{{ $navigationLink.Name }}</a>
  {{- end }}
</nav>
<hr>
<div style='font-size: 0.875rem; color: #555555;'>{{ $.CreationTime.Format "2006-01-02" }}</div>
{{ $.Content }}
<ul style='display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 0.25fr)); grid-gap: 0.5rem; margin: 0; padding: 0; list-style: none;'>
  {{- range $image := $.Images }}
  <li>
    <figure style='margin: 0; padding: 0;'>
      <img src='{{ $image.Name }}' style='max-height: 100%; max-width: 100%; object-fit: cover;' loading='lazy'>
      <figcaption style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 0.875rem;'><a href='{{ $image.Name }}'>{{ $image.Name }}</a></figcaption>
    </figure>
  </li>
  {{- end }}
</ul>
<hr>
<div style='font-size: 0.875rem; color: #555555;'>last modified {{ $.ModificationTime.Format "2006-01-02 15:04:05 UTC" }}</div>
